{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

    {{ include('article/_form.html.twig', {'button_label': 'Update', title: "Edit Article"}) }}

    <a href="{{ path('app_article_index') }}">Retour à la liste</a>

   {# {{ include('article/_delete_form.html.twig') }} #}
{% endblock %}
{% block javascripts %}

    <script>
        $(document).ready(function() {
            $('.choices_categories').select2();
        });
        ClassicEditor
                                .create( document.querySelector( '#article_content' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
    </script>
{% endblock %}